{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form id='update_form' method='POST'>
        <input type="hidden" class="form-control" id="blog_id" value='{{ blog_id }}'>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea id="content" name="content" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <img src="" class="blog-img" id="blog_img" name='blog_img' alt="" srcset="">
        </div>
        <button id='update_btn' type="button" class="btn btn-primary">Update</button>
        <button id='delete_btn' type="button" class="btn btn-danger">Delete</button>
    </form>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/detail_blog.js' %}"></script>
{% endblock %}