{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}